.flex-box {
  display: flexbox;
  justify-content: center;
}
.container-box {
  height: 100%;
}

.content-box {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 30%;
  background-color: gray;
  border-radius: 20px;
  opacity: 70%;
  color: #ffffff;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.body-registration{
  height: 68%;
  width: 50%;
}

.inputs-registration {
  background-color: #ffffff;
  width: 70%;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.font-link-style-registration {
  color: #333a56;
  font-weight: bolder;
  text-decoration: none;
}
.font-registration {
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}

.button-registration {
  width: 30%;
  height: 10%;
  font-weight: bolder;
  color: #ffffff;
  opacity: 20;
  background-color: #333a56;
  border-radius: 10px;
  box-sizing: border-box;

  box-decoration-break: slice;
}
