
.student-registration_container-box {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.student-registration_content-box {
  font-family: "Montserrat", sans-serif;
  background-color: gray;
  border-radius: 20px;
  opacity: 70%;
  color: #ffffff;
  text-align: center;
}

.student-registration_body-registration {
  width: 40%;
  min-width: 450px;
}

.student-registration_inputs-registration {
  background-color: #ffffff;
  width: 70%;
  height: 40px;
  padding-left: 10px;
  border-radius: 8px;
  border: none;
}

.student-registration_font-link-style-registration {
  color: #333a56;
  font-weight: bolder;
  text-decoration: none;
}
.student-registration_font-registration {
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}
