.flex-box {
  display: flexbox;
  justify-content: center;
}
.font-student {
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}
.container-box {
  height: 100%;
  }
.content-box {
  color: #ffffff;
  opacity: 70%;
  background-color:gray;
  /* height: 57%; */
  width: 50%;
  text-align: center;
}

.inputs {
  background-color: #ffffff;
  width: 70%;
  height: 50px;
  border-radius: 8px;
  border: none;
}


.font-link-style {
  color: #333A56;
  font-weight: bolder;
  text-decoration: none;
}

.button {
  width: 30%;
  height: 10%;
  font-weight: bolder;
  color: #ffffff;
 opacity: 20;
  background-color: #333A56 ;
  border-radius: 10px;
  box-sizing: border-box;
  
  box-decoration-break: slice;
}