.flex-box {
  display: flexbox;
  justify-content: center;
}
.font-student {
  line-height: 30px;
}
.container-box {
  height: 100%;
}

.content-box {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 30%;
  background-color: gray;
  border-radius: 20px;
  opacity: 70%;
  color: #ffffff;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
 
}
.body-login{
  width: 40%;
  height: 80%;
}
.inputs {
  background-color: #ffffff;
  width: 70%;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.font-link-style {
  color: #333a56;
  font-weight: bolder;
  text-decoration: none;
}

.button {
  width: 30%;
  height: 10%;
  font-weight: bolder;
  color: #ffffff;
  opacity: 20;
  background-color: #333a56;
  border-radius: 10px;
  box-sizing: border-box;

  box-decoration-break: slice;
}

.errors{
  color: red;
  font-weight: bold;
  font-size: 14px;
}