
.student-homepage_container-box {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}
.student-homepage_content-box {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: gray;
  border-radius: 20px;
  opacity: 70%;
  color: #ffffff;
  text-align: center;
  width: 70%;
  min-width: 450px;
}
.student-homepage_table-list {
    border-collapse: collapse;
    width: 100%;
    padding: 40px;  
}

.student-homepage_container-box thead {
  text-align: center;
  font-size: italic;
  width: 100%;
  border: 0.3rem solid #333a56;
  padding-bottom: 0.3rem;
}

.student-homepage_container-box thead th {
  background-color: #333a56;
  color: white;
  height: 7%;
  border: 0.3rem solid #333a56;
  padding: 10px;
}

.student-homepage_container-box tbody {
  text-align: center;
  border: 3% solid #333a56;
}

.student-homepage_container-box tbody td {
  border: 0.3rem solid #333a56;
  height: 5%;
  padding: 5px;
}
