.flex-box {
  display: flexbox;
  justify-content: center;
}
.container-box {
  height: 100%;
}
.content-box {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 30%;
  background-color: gray;
  height: 50%;
  border-radius: 20px;
  opacity: 70%;
  margin-left: 20%;
  margin-right: 20%;
}

.font-homepage {
  font-size: 60px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.font-link-style {
  color: #333a56;
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (max-width: 739px) {
  .flex-box {
    display: flexbox;
    justify-content: center;
  }
  .container-box {
    height: 100%;
  }
  .content-box {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 30%;
    background-color: gray;
    height: 50%;
    border-radius: 20px;
    opacity: 70%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .font-homepage {
    font-size: 40px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .font-link-style {
    color: #333a56;
    font-weight: bolder;
    text-decoration: none;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1025px) {
  .flex-box {
    display: flexbox;
    justify-content: center;
  }
  .container-box {
    height: 100%;
  }
  .content-box {
  
    position: absolute;
    top: 30%;
    background-color: gray;
    height: 50%;
    border-radius: 20px;
    opacity: 70%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .font-homepage {
    color: #ffffff;

    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .font-link-style {
    color: #333a56;
    font-weight: bolder;
    text-decoration: none;
  }
}
